<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - Open Knowledge Foundation Labs</title>

  <!-- Open Graph Protocol http://ogp.me/ -->
  <meta property="og:title" content="Reconcile-csv" />
  <meta property="og:description" content="CSV-Reconcile helps you to join datasets that are messy, contain data about the same things but no unique identifiers by which you could join them. It is a OpenRefine reconciliation service running of a spreasheet."> 
  <meta property="og:url" content="http://okfnlabs.org/reconcile-csv" />
  <meta property="og:image" content="http://okfnlabs.org/img/okfnlabs.png" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- styles -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/labs.css">

  <link rel="alternate" type="application/atom+xml" title="OKFN Labs Feed" href="http://okfnlabs.org/blog/feed.xml" />
  <link rel="shortcut icon" href="http://assets.okfn.org/p/okfn/img/favicon.ico">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

</head>

<body class="body-{{page.bodyclass}}">
  <!-- OKF Panel -->
  <div class="absolute-okf-panel">
    <div id="okf-panel" class="collapse">
      <iframe src="http://assets.okfn.org/themes/okfn/okf-panel.html" scrolling="no"></iframe>
    </div>
    <div class="container">
      <div class="okfn-ribbon">
        <a href="http://okfn.org/" data-toggle="collapse" data-target="#okf-panel" title="Part of the Open Knowledge Foundation Network">An Open Knowledge Foundation Site</a>
      </div>
    </div>
  </div>
  <!-- End OKF Panel -->
	<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand"><img src="http://assets.okfn.org/p/labs/img/logo.png" alt="Open Knowledge Foundation Labs" style="width:218px; height:62px;"></a>
        <ul class="nav pull-right">
          <li><a class="nav-join" href="#about">About</a></li>
          <li><a class="nav-blog" href="#documentation">Documentation</a></li>
          <li><a class="nav-code" href="#contribute">Contribute</a></li>
          <li><a class="nav-events" href="http://github.com/okfn/reconcile-csv"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row logorow">
        <div class="span6 text-right">
          <a href="http://okfn.org" class="okf-logo" title="Part of the Open Knowledge Foundation"><img src="/img/okfn.png" alt="Open
            Knowledge Foundation"></a> 
        </div>
      </div>
      <div class="row">
        <div class="span12 text-right">
          <ul class="flatmenu">
            <li><a href="/about/">About Us</a></li>
            <li><a href="http://okfn.org/opendata/">Open Data</a></li>
            <li><a href="http://okfn.org/terms-of-use/">Terms of Use</a></li>
            <li><a href="http://okfn.org/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://okfn.org/ip-policy/">IP Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12 text-right">
          <p class="projects">
            <a href="http://schoolofdata.org/" title="School of Data - Learn Data Skills">
              <img src="http://assets.okfn.org/p/schoolofdata/img/logo.png" alt="School of Data" /></a>
            <a href="http://okfnlabs.org/" title="Open Knowledge Foundation Labs">
              <img src="http://assets.okfn.org/p/labs/img/logo.png" alt="" /></a>
            <a href="http://datahub.io/" title="DataHub - Publish, Find and Share Data Easily">
              <img src="http://assets.okfn.org/p/datahub/img/logo-full.png" alt="DataHub" /></a>
            <a href="http://openspending.org/" title="OpenSpending">
              <img src="http://assets.okfn.org/p/openspending/img/openspending-logo.png" alt="OpenSpending" /></a>
          </p>
        </div>
      </div>
    </div>
  </footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="http://assets.okfn.org/themes/okfn/collapse.min.js" type="text/javascript"></script>
<script src="http://assets.okfn.org/themes/okfn/okf-panel.js" type="text/javascript"></script>
</body>
</html>


